
@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to Tikkit</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<form method="post" asp-controller="Home" asp-action="Login">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="Username" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="Password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>

    <div class="text-center">
        <p>Don't have an account? <a href="/Home/Register">Register</a></p>
    </div>
</form>

